* {
  box-sizing: border-box;
}
body {
  font-family: Roboto;
}
.header {
  background: #007765;
  padding-top: 20px;
  padding-bottom: 19px;
  position: sticky;
  top: 0;
}

.header-block {
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 184px;
  height: 45px;
}

.nav-panel {
  display: flex;
  align-items: center;
}
.nav-link {
  align-items: center;
  display: flex;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-right: 8px;
}

.nav-link:after {
  content: "";
  width: 1px;
  height: 20px;
  background: #fff;
  margin-left: 8px;
}
.nav-link:last-child:after {
  width: 0px;
}

.quote1 {
  display: flex;
  height: 403px;
  background: url(/img/image.png);
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.quote-text {
  color: #ffffff;
  font-weight: 500;
  font-size: 72px;
  line-height: 84px;
}

.problem-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 719px;
  background: #eeeeee;
  padding-top: 48px;
  padding-bottom: 92px;
}

.problem-content {
  max-width: 750px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.the-title {
  width: 100%;
  display: flex;
  justify-content: center;
}
.theproblem-title {
  display: flex;
  color: #007765;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  margin-bottom: 16px;
}

.theproblem-text {
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.theproblem-par {
  margin-bottom: 15px;
  margin-left: 15px;
}

.quote2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(/img/image1.png);
  background-size: cover;
  height: 483px;
}

.quote2-text {
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
  text-align: center;
}
.coin-container {
  background: #ffffff;
  display: flex;
}

.coin-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 950px;
  color: #000000;
}

.title-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 48px;
}
.coin-title {
  display: flex;
  color: #007765;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 75px;
  text-align: center;
  margin: 0;
}

.coin-icon {
  width: 110px;
  height: 110px;
  float: left;
  margin-right: 48px;
}

.coin {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  width: 100%;
  margin-bottom: 25px;
}

.coin-par {
  height: 110px;
  line-height: 35px;
  margin: 0;
}
.coin-text {
  margin-bottom: 35px;
  max-width: 850px;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 35px;
}

.team-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 845px;
  background: #eeeeee;
  padding-bottom: 50px;
}

.team-title-container {
  text-align: center;
  color: #007765;
  font-weight: 600;
  font-size: 35px;
  line-height: 40px;
  margin: 0;
}

.photos-container-row1 {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.photos-container-row2 {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.img {
  width: 110px;
  height: 110px;
}

.member-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
  margin: 30px;
}

.member-name {
  font-weight: bold;
  font-size: 15px;
  line-height: 28px;
  color: #007765;
}

.member-description {
  font-style: italic;
  font-size: 13px;
  line-height: 12px;
  color: #000000;
}

footer {
  display: flex;
  justify-content: center;
  background: #333333;
  height: 176px;
}

.footer-par {
  font-size: 12px;
  margin: auto;
  color: white;
  text-align: center;
}
